html,body {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
    }

.main-header{
    background-color: #161616;
    padding: 20px;
    margin-right: 0px;
    color: #fff;
    

}

h1, p {
    margin-bottom: 0;
    margin-top: 0;
}

.info {
    margin-left: 40px;
}

#social {
    float: right;
}

.fab {
    font-size: 30px;
    margin-right: 20px;
    border-bottom: none;
    color: #fff;
}

a > .fa-linkedin-in :hover {
    color: gray;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #161616;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}


a {
    text-decoration: none;
}


#picture img {
    width: 100%;
    height: auto;
}



#about, #projects  {
    margin: 5% 10%;
}


#about p {
    line-height: 25px;
}




  .container {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      
     
  }

  

  .box {
      width: 30%;
      margin: 20px;
      padding: 20px;
      box-sizing: border-box;
      border: 1px solid #d9d9d9;
      border-radius: 5px;
      overflow: hidden;
      
  } 

  .box img {
      margin-bottom: 10px;
      size: 120%;
  }

  .box:hover {
    border: 2px solid #d9d9d9;
  }


 .fa-arrow-circle-right {
     float: right;
     color: gray;
     font-size: 20px;
     
 }


  #contact {
     text-align: center;
     align-content: center;
      padding-top: 40px;
      padding-bottom: 50px;
      color: #fff;
      margin: 10px auto;
      background-color: #111;
     
  }



  form textarea, form button, form input, form label {
   display: block; 
   align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
  }

  
.button {
    background-color:#fff;
    width: 296px;
    border: none;
    padding: 10px;
    font-size: 15px;
}

.button:hover {
    background-color: #b1b3b4;
    font-weight: bold;
}

#name-error,#email-error, #message-error {
    font-size: 14px;
    color: #d43f22;
}

footer {
    padding: 20px;
}

#alignleft {
    float: left;
}



@media (max-width: 1510px) {
    .box {
        width: 40%;
        
    }
}

@media (max-width: 1250px) {
    .box {
        width: 40%;
        
        
    }
}

@media (max-width: 900px) {
    .box {
        width: 70%;
        
        
    } 
}


@media (max-width: 550px){
    .info > h1 {
        font-size: 20px;
    }

    

    .box {
        width: 100%;
        
    }
}

@media (max-width: 358px) {
    .info > h1 {
        font-size: 15px;
    }

    .info > p {
        font-size: 13px;
    }

    .fab {
        font-size: 20px;
        margin-right: 10px;
    }

   



}